<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="root">
        <div class="app-container">
            <div class="container">

                <!-- Start Left Column -->
                <div class="column-left">
                    <!-- Start User Row -->
                    <div class="user-row">
                        <!-- Start Avatar -->
                        <div class="avatar">
                            <img src="img/avatar_io.jpg" alt="Avatar User">
                            <div class="user-name">Nome Utente</div>
                        </div>
                        <!-- End Avatar -->

                        <!-- Start User Icons -->
                        <div class="user-icons">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                        <!-- End User Icons -->
                    </div>
                    <!-- End User Row -->

                    <!-- Start Notifications Message -->
                    <div class="notifications">
                        <div class="bell-icon"><i class="fas fa-bell-slash"></i></div>
                        <div>
                            <div>Ricevi notifiche di nuovi messaggi</div>
                            <div><a href="#">Attiva notifiche desktop</a></div>
                        </div>
                    </div>
                    <!-- End Notifications Message -->

                    <!-- Start Search Contacts -->
                    <div class="search-contacts">
                        <div class="search-input">
                            <i class="fas fa-search"></i>
                            <input type="text" placeholder="Cerca o inizia una nuova chat">
                        </div>
                    </div>
                    <!-- End Search Contacts -->

                    <!-- Start Contact List -->
                    <ul class="contacts-list">
                        <!-- Start User Contact -->
                        <li v-for="(contact,index) in contacts" @click="showChat(index)" class="avatar" :class="{ active: activeContact == index }">
                            <img :src="`img/avatar${contact.avatar}.jpg`" alt="Avatar User">
                            <div class="user-name">{{ contact.name }}</div>
                        </li>
                        <!-- End User Contact -->
                    </ul>
                    <!-- End Contact List -->

                </div>
                <!-- End Left Column -->

                <!-- Start Right Column -->
                <div class="column-right">
                    <!-- Start User Row -->
                    <div class="user-row">
                        <!-- Start Avatar -->
                        <div class="avatar">
                            <img :src="`img/avatar${contacts[activeContact].avatar}.jpg`" alt="Avatar User">
                            <div class="user-name">
                                <div>{{ contacts[activeContact].name }}</div>
                                <div class="user-access">Ultimo accesso oggi alle</div>
                            </div>
                        </div>
                        <!-- End Avatar -->

                        <!-- Start User Icons -->
                        <div class="user-icons">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                        <!-- End User Icons -->
                    </div>
                    <!-- End User Row -->

                    <!-- Start Main Chat -->
                    <div class="chat">
                        <!-- Start Message -->
                        <div v-for="message in contacts[activeContact].messages" class="message" :class="{ received: message.status == 'received', delivered: message.status == 'sent' }">
                            <div class="message-text">{{message.text}}</div>
                            <div class="message-date">{{message.date}}</div>
                        </div>
                        <!-- End Message -->
                    </div>
                    <!-- End Main Chat -->

                    <!-- Start Message Bar -->
                    <div class="message-bar">
                        <div><i class="far fa-smile"></i></div>
                        <div class="message-input"><input type="text" placeholder="Scrivi un messaggio"></div>
                        <div><i class="fas fa-microphone"></i></div> 
                    </div>
                    <!-- End Message Bar -->

                </div>
                <!-- End Right Column -->
            </div>
        </div>
    </div>


    <script src="js/script.js"></script>
</body>
</html>